<!DOCTYPE html>
<html lang="Heb">
<head>
    <meta charset="UTF-8">
    <title>Linda Nails Salon</title>
    <link rel="stylesheet" href="../static/css.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
          integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf"
          crossorigin="anonymous">
</head>
<body class="Homepage">

<div class = "grid-container">
    <div class="gridNavBar">
        <ul class="navBar">
            <li><a href="Homepage.html">Home</a></li>
            <li class="dropdown">
                <a href="AboutUS.html" href="javascript:void(0)" class="dropbtn">About us</a>
                <div class="dropdown-content">
                    <a href="OurTeam.html">Our Team</a>
                    <a href="ContactUs.html">Contact Us</a>
                </div>
            <li><a href="Login.html">Login</a></li>
            <li><a href="prices.html">prices</a></li>
            <li><a href="CheckOut.html">Check out!</a></li>
            <li><a href="Color.html">Color of The Day :)</a></li>
            </li>
        </ul>
    </div>

    <div class="Logo">
        <div class="row">
            <div class="column">
                <img src="../static/img/logo400.png" alt="logo" style="width:400%">
            </div>
        </div>
    </div>



    <div class="gridTitle">
        <h1 class="h1DesignHome"> Linda Nail's Salon </h1>
    </div>

    <p class="gridDetails" ,class="details">
        Adress: Rager 140, Beer-Sheva<br>
        Phone: 0525546172
    </p>

    <div class="gridLine1">
        <h2 class="h2DesignHome">Who Run's The World?
            <br>GEL!</h2>
    </div>



    <div class="gridButton">
        <a href="SignUp.html"> <button class="button-56" role="Button 56">Sign Up Now!</button></a></a><br>
        <a href="CheckOut.html"><button class="button-56" role="Button 56">Booking Now!</button></a>
    </div>



</div>

</div>


<footer> <div class="social-container">
    <div class="footer">
        <div class="icons">
            <a href="https://github.com/kvaibhav01" class="social"><i class="fab fa-facebook"></i></a>
            <a href="https://www.facebook.com/bestartnails/"  class="social"><i class="fab fa-instagram"></i></a>
            <a href="https://www.youtube.com/watch?v=sqi2VaFZxYc"  class="social"><i class="fab fa-youtube"></i></a>
        </div>
    </div>

</div>
</footer>
</body>
</html>