<!DOCTYPE html>
<html lang="en">
<head>


    <meta charset="UTF-8">
    <title>Prices</title>
    <link rel="stylesheet" href="../static/css.css">

</head>
<body class="prices">
<div class = "grid-container">
    <div class="gridNavBar">
        <ul class="navBar">
            <li><a href="Homepage.html">Home</a></li>
            <li class="dropdown">
                <a href="AboutUS.html" href="javascript:void(0)" class="dropbtn">About us</a>
                <div class="dropdown-content">
                    <a href="OurTeam.html">Our Team</a>
                    <a href="ContactUs.html">Contact Us</a>
                </div>
            <li><a href="Login.html">Login</a></li>
            <li><a href="prices.html">prices</a></li>
            <li><a href="CheckOut.html">Check out!</a></li>
            <li><a href="Color.html">Color of The Day :)</a></li>
            </li>
        </ul>
    </div>
</div>



</body>
</html>