<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Login</title>
    <link rel="stylesheet" href="../static/css.css">

</head>
<body>
<div class = "grid-container">
    <div class="gridNavBar">
        <ul class="navBar">
            <li><a href="Homepage.html">Home</a></li>
            <li class="dropdown">
                <a href="AboutUS.html" href="javascript:void(0)" class="dropbtn">About us</a>
                <div class="dropdown-content">
                    <a href="OurTeam.html">Our Team</a>
                    <a href="ContactUs.html">Contact Us</a>
                </div>
            <li><a href="Login.html">Login</a></li>
            <li><a href="prices.html">prices</a></li>
            <li><a href="CheckOut.html">Check out!</a></li>
            <li><a href="Color.html">Color of The Day :)</a></li>
            </li>
        </ul>
    </div>
</div>
<h1 class="titleForm" > Login </h1><br>
<h4 class="container"> Not a Member? <a href="SignUp.html">Click Here!</a></h4>

<div class="container">
    <form name='registration' onSubmit="formValidation();"><br>

        <ul>
            <label for="email"> E-mail : </label><br>
            <input type="email" placeholder="Enter E-mail" name="E-mail" required><br>
            <label for="passid"> Password : </label><br>
            <input type="password" placeholder="Enter Password" name="password" required><br>
            <button type="submit" class="loginbtn">Login</button>
            <button type="button" class="cancelbtn"> Cancel</button><br>
            <input type="checkbox" checked="checked"> Remember me <br>
            Forgot <a href="#"> password? </a>
        </ul>

    </form>

</div>
<div class="gridLogo1"> <br>
    <img src="../static/img/logo.png">
</div>
</body>
<footer>

</footer>
</html>