<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up</title>
    <link rel="stylesheet" href="../static/css.css">
    <script defer src="../static/js.js"></script>

</head>
<body>
<div class = "grid-container">
    <div class="gridNavBar">
        <ul class="navBar">
            <li><a href="Homepage.html">Home</a></li>
            <li class="dropdown">
                <a href="AboutUS.html" href="javascript:void(0)" class="dropbtn">About us</a>
                <div class="dropdown-content">
                    <a href="OurTeam.html">Our Team</a>
                    <a href="ContactUs.html">Contact Us</a>
                </div>
            <li><a href="Login.html">Login</a></li>
            <li><a href="prices.html">prices</a></li>
            <li><a href="CheckOut.html">Check out!</a></li>
            <li><a href="Color.html">Color of The Day :)</a></li>

            </li>
        </ul>
    </div>
</div>
<h1 class="titleForm" > Sign Up </h1><br>

<div class="container">
    <form name='registration' onSubmit="formValidation();"><br>
        <h4> All our club members enjoy discounts, special offers and priority in making appointments! </h4><br><br>

        <ul>
            <label for="phone"> Phone:</label><br>
            <input type="tel" name="phone" /><br>
            <label for="passid">Password:</label><br>
            <input type="password" name="passid" /><br>
            <label for="username">Name:</label><br>
            <input type="text" name="username"  /><br>
            <label for="address">Address:</label><br>
            <input type="text" name="address"  /><br>
            <label for="skin">Skin Type:</label><br>
            <select name="TypeSkin">
                <option selected="" value="Default">(Please select a Skin)</option>
                <option value="NL">Normal</option>
                <option value="DY">Dry</option>
                <option value="OL">Oil</option>
                <option value="AS">Sensitive</option>
                <option value="CM">Combination</option>
                required </select><br><br>
            <label for="zip">ZIP Code:</label><br>
            <input type="text" name="zip" /><br>
            <label for="email">Email:</label><br>
            <input type="text" name="email" size="50" /><br>
            <label id="gender">Sex:</label><br>
            <input type="radio" name="msex" value="Male" /><span>Male</span>
            <input type="radio" name="fsex" value="Female" /><span>Female</span><br><br>
            <label> Allergy:</label><br>
            <input type="checkbox" name="en" value="en" checked /><span> Yes </span><br>
            <input type="checkbox" name="nonen" value="noen" /><span> Have a medical certificate  </span> <br><br>
            <label for="desc">About:</label><br>
            <textarea name="desc" id="desc"></textarea><br>
            <input type="submit" name="submit" value="Submit" /><br><br><br>
        </ul>
    </form>

</div>
</body>
</html>